/* Google font: Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --green-accent: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  padding: 1rem;
  background-color: var(--gray-900);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile-card {
  width: 90%;
  max-width: 300px;
  height: auto;
  background-color: var(--gray-800);
  padding: 1.5rem;
  color: var(--white);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  margin: 1rem auto;
}

.user-name {
  text-align: center;
  font-size: 1.5rem;
}

.location {
  font-size: 0.933rem;
  text-align: center;
  color: var(--green-accent);
  padding: 0.6rem;
}

.user-role {
  font-size: 0.8rem;
  line-height: 1.4;
  text-align: center;
  margin: 0.7rem auto 1rem auto;
}

.social-links li {
  margin: 0.8rem;
  border-radius: 8px;
  text-align: center;
  list-style: none;
}

.social-links li a {
  display: block;
  padding: 0.6rem;
    border-radius: 8px;
  background-color: var(--gray-700);
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

.social-links a:hover {
  background-color: var(--green-accent);
  color: var(--gray-900);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.profile-card:hover {
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

@media screen and (max-width: 768px ) {
  .profile-card {
    width: 90%;
    padding: 1.5rem;
  }
    .user-name {
  font-size: 1.3rem;
}

.location {
  font-size: 0.85rem;
}

.social-links li {
    font-size: 0.9rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
